:root {
  --black: #020202;
  --white: #ffffff;
  --blue: #00425c;
  --cyan: #17a2b8;
}

body {
  background-color: var(--cyan);
}

h1 {
  text-align: center;
}

.donut-chart {
  border-radius: 0.8rem;
  background-color: var(--white);
}

.grid-row > div {
  border: 1px solid red;
}

#thrones {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 768px) {
  #thrones {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


.portrait {
  width: 160px;;
  height: 180px;
  object-fit: cover;
}

.card { 
  background-color: transparent;
}

.card:hover .card-title, .card:hover .card-text {
  color: white;
}

.card:hover {
  background-color: #003a53;
}



